:root {
    font-size: 16px;
    line-height: 1.2;
}

.invisible {
    display: none;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #ffffff;
}

main {
    /* background: aqua; */
    max-width: 90rem;
    margin: 0 auto;
}

section {
    /* background: purple; */
    height: 100vh;
    min-height: 37.5rem;
    max-height: 75rem;
    position: relative; 
}

.navigation {
    font-family: 'Butler', Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.title {
    font-family: 'Butler', Georgia, 'Times New Roman', Times, serif;
    font-size: 5.5rem;
    font-weight: 300;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 700;
}

.jobtitle {
    font-size: 1.1rem;
    font-weight: 500;
}

.blockquote {
    font-family: 'Butler', Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 200;
}

.nameDesign {
    font-size: 1rem;
    font-weight: 700;
}

.whitepapers {
    color: #000000;
}

.ulTitle {
    font-family: 'Batler', Georgia, 'Times New Roman', Times, serif;
    font-size: 5.8rem;
    font-weight: 300;
}

li {
    font-family: 'Butler', Georgia, 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    width: 300;
}

.hero_block img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   max-width: 66.5rem;
   max-height: 39.3rem;
   object-fit: contain;
}

.hero_text{
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.48em 1.01em;
    font-size: 5.5rem;
    white-space: nowrap;
}

.hero_text .title  {
    font-size: 0.9em;
}

.hero_text .subtitle  {
  font-size: 0.21em;
  margin-bottom: -1.2em;
}

.biography {
    position: absolute;
    top: 41%;
    right: 2.5%;
    transform: rotateZ(-90deg) translateX(-550%);
    z-index: 2;
}

.biography_img {
    float: left;
    width: 50%;
    text-align: right;
    height: 100%;
    position: relative;
}

#biography img {
    max-width: 100%;
    max-height: 100%;
    position: absolute; 
    right: 4.6%;
    top: 50%;
    transform: translateY(-50%);

}

.biography_text {
    float: right;
    width: 50%;
    height: 100%;
    position: relative;
}

.biography_col_text {
    position: absolute;
    left: 46%;
    top: 54%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.jobtitle {
    padding-top: 2.3em;
}

.biography_text hr {
    background: #000000;
    width: 0.875rem;
    height: 0.25rem;
    display: block;
    margin: 4em 0 1.8em;
    border: none;
}

#biography .title {
    width: 93%;
}

#biography::after {
    content: "";
    display: block;
    clear: both;
}

#testimonials {
    display: flex;
    flex-wrap: wrap;
}

#testimonials .subtitle {
    width: 100%;
    padding-left: 12.3%;
    padding-top: 2.8%;
}

#testimonials a {
    text-decoration: none;
}

.links_block {
    width: 12.5%;
    transform: rotateZ(-90deg) translate(-333%, 78%);
    display: flex;
    max-height: 2rem;
    text-align: left;
}

.whitepapers_margin {
    margin: 0 36%;
}

.bold_text {
    font-weight: bolder;
}

.testimonials_img_block {
    width: 37.5%;
    text-align: right;
    padding-right: 2%;
}

.testimonials_img {
    max-width: 100%;
    max-height: 100%;   
}

.blockquote_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 16% 0 18.5%;
    gap: 2em;
}

.blockquote_block .blockquote {
    text-align: center;
}

.blockquote_img {
    max-width: 100%;
    max-height: 100%;
}