:root {
    font-size: 16px;
    line-height: 1.2;
}

.invisible {
    display: none;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #ffffff;
    line-height: 1.2;
}

main {
    /* background: aqua; */
    max-width: 90rem;
    margin: 0 auto;
}

section {
    /* background: purple; */
    height: 100vh;
    min-height: 37.5rem;
    max-height: 75rem;
    position: relative; 
}

.navigation {
    font-family: 'Butler', Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.title {
    font-family: 'Butler', Georgia, 'Times New Roman', Times, serif;
    font-size: 5.5rem;
    font-weight: 300;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 700;
}

.jobtitle {
    font-size: 1.1rem;
    font-weight: 500;
}

.blockquote {
    font-family: 'Butler', Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 200;
}

.nameDesign {
    font-size: 1rem;
    font-weight: 700;
}

.whitepapers {
    color: #000000;
}

.ulTitle {
    font-family: 'Batler', Georgia, 'Times New Roman', Times, serif;
    font-size: 5.8rem;
    font-weight: 300;
}

li {
    font-family: 'Butler', Georgia, 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    width: 300;
}

.hero_block img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   max-width: 66.5rem;
   max-height: 39.3rem;
   object-fit: contain;
}

.hero_text{
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.48em 1.01em;
    font-size: 5.5rem;
    white-space: nowrap;
}

.hero_text .title  {
    font-size: 0.9em;
}

.hero_text .subtitle  {
  font-size: 0.21em;
  margin-bottom: -1.2em;
}

.b {
    position: absolute;
    top: 46.7rem;
    right: 3.6rem;
    transform: rotateZ(-90deg);
}

#biography img {
    width: 38.5%;
    margin-left: 9.3%;
    margin-right: 2.2%;
    max-height: 52.5rem;
    min-height: 52.5rem;
    object-fit: contain;
}

.biography_text {
    float: right;
    width: 30.3%;
    margin-left: 8%;
    margin-right: 11.7%;
    max-height: 56.2rem;
}

#biography h3 {
    padding-top: 12.25rem;
}

.jobtitle{
    margin-top: 4.1rem;
}

.jobtitle::after {
    content: "";
    background: #000000;
    width: 0.875rem;
    height: 0.25rem;
    display: block;
    margin-top: 4.3rem;
    margin-bottom: 1.9rem;
}

.slash::after {
    content: "/";
}